/* Asegúrate de que el fondo cubra toda la página */
body {
    margin: 0;
    padding: 0;
    background: url('fondo.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    body {
        background: url('img2.jpg') no-repeat center center fixed; /* Nueva imagen de fondo */
        background-size: cover;
    }
}

.video-container {
    position: relative;
    width: 50%;
    max-width: 400px;
    margin: 20px auto;
    margin-bottom: 20px;
    padding-bottom: 100px;
}

.video-container iframe {
    width: 100%;
    height: 225px;
    border: none;
}

button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fe3334;
    z-index: 10;
}

button:hover {
    color: #ff6f74;
}

.heart-button-small {
    position: absolute;
    top: 20px;
    left: 20px;
    --size: 50px;
    --color: #fe3334;
    width: var(--size);
    height: var(--size);
    background-color: var(--color);
    transform: rotate(45deg);
    border: none;
    cursor: pointer;
    outline: none;
    animation: beat 1s infinite alternate ease-in-out;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.heart-button-small::before,
.heart-button-small::after {
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: var(--color);
    border-radius: 50%;
}

.heart-button-small::before {
    top: -50%;
    left: 0;
}

.heart-button-small::after {
    top: 0;
    left: -50%;
}

.heart-button-small span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

@keyframes beat {
    to {
        transform: rotate(45deg) scale(1.1);
    }
}

.heart-button-small:hover,
.heart-button-small::before:hover,
.heart-button-small::after:hover {
    background-color: #ff6f74;
    transform: rotate(45deg) scale(1.05);
}

.heart-button-small:active,
.heart-button-small::before:active,
.heart-button-small::after:active {
    transform: rotate(45deg) scale(1.2);
    animation: none;
}
